version = 1

[*]
n-gpu-layers = all
parallel = 1
ctx-size = 8192
flash-attn = on
cache-type-k = q8_0
cache-type-v = q8_0
jinja = true
spec-type = none
load-on-startup = false
no-mmproj = true
repeat-penalty = 1.0
presence-penalty = 0.0

[mimo]
model = /var/cache/llama/mimo.gguf

[qwen36]
model = /var/cache/llama/qwen36.gguf
temp = 0.6
top-p = 0.95
top-k = 20
min-p = 0.0
